.boton-itemCount {
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.boton-agregar-quitar {
  font-size: 20px;
  background: none;
  border: none;
}

.boton-agregarCarrito {
  border: none;
}
.span-boton-agregarCarrito {
  margin: 0 auto;
}

.img-ItemDetail {
  height: 30em;
  width: auto;
}

.sinopsis-ItemDetail {
  font-size: 1.5em;
  text-align: justify;
}

.boton-ItemDetail {
  font-size: 1.25em;
}

.removePointer:hover {
  cursor: default;
  background-color: #0d6efd;
}

.removePointerCart:hover {
  cursor: default;
  background-color: #f0f0f0;
}

@media only screen and (max-width: 1200px) {
  .sinopsis-ItemDetail {
    margin-top: 10px;
    font-size: 0.85em;
    width: 100%;
  }
  .responsiveSizingItemDetail {
    font-size: 0.85em;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .sinopsis-ItemDetail {
    margin-top: 15px;
    font-size: 1.25em;
  }
  .responsiveSizingItemDetail {
    font-size: 1em;
    text-align: center;
  }
}
