.botonAbrirCarrito {
  background: none;
  color: white;
  border: 0;
  position: relative;
}

.cantidadCarrito {
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.bookCard {
  margin:0 auto;
  width: 20em;
  height:100%
}

.img-Bookcard {
  height: 100%;
}

.boton-itemCount {
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px
}

.boton-agregar-quitar {
  font-size: 20px;
  background: none;
  border: none;
}

.boton-agregarCarrito {
  border: none;
}
.span-boton-agregarCarrito{
  margin:0 auto
}

.img-ItemDetail {
  height: 30em;
  width: auto;
}

.sinopsis-ItemDetail {
  font-size: 1.5em;
  line-height: 2em;
}

.boton-ItemDetail {
  font-size: 1.25em;
}

.boton-detalles-Item {
  width: 100%;
}

.boton-NavBar {
  text-decoration: none;
}

.brand-NavBar {
  text-decoration: none;
  color:inherit
}

.brand-NavBar:hover {
  color:gray
}

.lista-generos {
  padding:15px;
  background-color: lightcyan;
}

.item-lista-generos{
  margin-top: 15px;
}

.link-item-lista-generos {
  text-decoration: none;
  color:inherit
}

.cono-wip {
  font-size:500px;
  margin-left:600px
}

.removePointer:hover{
  cursor:default;
  background-color:#0d6efd;
}

.removePointerCart:hover{
  cursor:default;
  background-color:#f0f0f0;
}

.emptyCart{
  font-size: 2.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}